.wrapper_with_padding
  #doc_show
    %h1.title= @doc.title
    %p= simple_format(@doc.content)

    .buttons
      = link_to "Voltar", docs_path, :class => "button"
      = link_to "Editar", edit_doc_path(@doc), class: "button"
      = link_to "Deletar", doc_path(@doc), method: :delete, data: {confirm: "Você tem Certeza?"}, class: "button"
